.checkout-container {
  display: flex;
  max-width: 1200px;
  margin: 40px auto;
  gap: 20px;
  color: #333;
  font-family: Arial, sans-serif;
}

.billing-info {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  width: 70%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      font-size: 14px;
      color: #555;
      display: block;
      margin-bottom: 5px;
    }

    .input-row {
      display: flex;
      gap: 10px;

      input,
      select {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        background-color: #fff;
        color: #333;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #fff;
      font-size: 14px;
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  .payment-options {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    label {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #555;
      cursor: pointer;
      width: 100%;
      flex-direction: column;
      padding: 10px;
      text-align: center;

      input[type="radio"] {
        margin-top: 10px;
      }

      &:hover {
        background-color: #f0f0f0;
        border-radius: 4px;
      }
    }
  }

  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 80px;
    resize: none;
    font-size: 14px;
    color: #333;
    background-color: #fff;
  }

  .place-order {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 10px;
    &:hover {
      background-color: #0056b3;
    }
  }
}

.order-summary {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  width: 30%;
  align-self: flex-start; // Aligns the Order Summary to the top of the container
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }

  .summary-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
      margin-right: 10px;
    }

    .product-details {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .product-name {
      font-size: 14px;
      color: #007bff;
    }

    .quantity-price {
      font-size: 14px;
      color: #666;
    }
  }

  .summary-totals {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;

    p {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #555;
      margin: 8px 0;

      &.total {
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
    }
  }
}
