.header-container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #8b8e99;
  font-weight: bold;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  font-size: 1.1rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    i {
      font-size: 1.5rem;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  .routes {
    display: flex;
    gap: 24px;
  }

  .routes a {
    color: #4a4a4a;
    text-decoration: none;
  }

  .routes a.active-item {
    color: #007bff;
  }

  .routes a:hover {
    color: #ffffff;
  }

  .auth {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      color: #4a4a4a;
      text-decoration: none;
      i {
        font-size: 1.1rem;
        &:hover {
          color: #ffffff;
        }
      }
    }

    .logout-button {
      font-size: 1.1rem;
      color: #4a4a4a;
      border: none;
      background-color: transparent;
      border-radius: 4px;
      margin: 12px 0;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 5px;
      overflow: hidden;
    }

    .dropdown-content a,
    .dropdown-content form {
      color: #333;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
    }

    .dropdown-content a:hover,
    .dropdown-content form:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown .dropbtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: #333;
    }

    .dropdown .dropbtn:hover {
      color: #ffffff;
    }

    &.logged-out {
      a {
        color: #4a4a4a;
        text-decoration: none;
        font-size: 1rem;
      }

      p {
        color: #4a4a4a;
        margin: 0 5px;
      }
    }

    &.logged-in {
      a {
        color: #4a4a4a;
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }
}
